<section class="main">
  <app-input [itemQueSeraEditado]="itemParaSerEditado">
  </app-input>
  <div class="container">
    <div class="lista">
      <h4 class="title-list">Lista de Compras</h4>
      <div *ngIf="listaCompras.length !== 0; else naoTemItem">
        <div *ngFor="let item of listaCompras">
          <app-item [item]="item" (emitindoItemParaEditar)="editarItem($event)"></app-item>
        </div>
      </div>
      <ng-template #naoTemItem>
        <small>A lista de compras está vazia!</small>
      </ng-template>
    </div>
  </div>
</section>
